{
  "parser": "babel-eslint",

  "extends": [
    "airbnb"
  ],

  "env": {
    "browser": true
  },

  "globals": {
    "React": true,
    "ReactDOM": true
  },

  "rules": {
    "import/no-unresolved": [
      2,
      {
        "ignore": [ "^src/" ]
      }
    ],
    "react/destructuring-assignment": "never",
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0,
    "import/order": 0,
    "comma-dangle": 0,
    "no-plusplus": 0
  }
}
