@import 'reset.scss';
@import 'fonts/index.scss';

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  background: #F7F7F7;
}

button.app-button {
  padding: 5px 10px;
  text-align: center;
  box-shadow: 3px 3px #aaa;
  height: 36px;

  font-size: 12px;
  border: 1px solid #555;

  color: #111;

  &:hover {
    cursor: pointer;
  font-weight: 600;

    border-color: #444;
  }
}
