@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600');

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/inconsolata-webfont.woff2') format('woff2'),
       url('fonts/inconsolata-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
