<!DOCTYPE html>
<html lang="es">

<head>
  <title>App-Web</title>
  <link rel="shortcut icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <meta charset="utf-8">
  <meta name="Description" content="React Starter Kit.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="preload" as="script" href="<%= htmlWebpackPlugin.files.chunks.vendors.entry %>">
  <link rel="preload" as="script" href="<%= htmlWebpackPlugin.files.chunks.app.entry %>">
</head>

<body>
  <div id="app"></div>
</body>

</html>
